<h1>Activity Subscription</h1>

<p *ngIf="!activityList"><em>Loading...</em></p>

<table class='table' *ngIf="activityList">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Activity</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activityList">
            <td>{{ activity.firstName }}</td>
            <td>{{ activity.lastName }}</td>
            <td>{{ activity.email }}</td>
            <td>{{ activity.activityName }}</td>
            <td>{{ activity.comments }}</td>
        </tr>
    </tbody>
</table>
