@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }

    .marginh0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
