<div class="container">
    <div class="row">
        <h4 class="mb-3">Subscribe Activity</h4>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName">
            <alert type="danger" class="invalid-feedback">
                Valid first name is required.
            </alert>
        </div>
        <div class="col-sm-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName">
            <alert type="danger" class="invalid-feedback">
                Valid last name is required.
            </alert>
        </div>
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <alert type="danger" class="invalid-feedback">
            Please enter a valid email address for shipping updates.
        </alert>
    </div>
    <div class="mb-3">
        <label for="activity">Activity</label>
        <input type="text" class="form-control" id="activity">
        <alert type="danger" class="invalid-feedback">
            Please enter an Activity.
        </alert>
    </div>
    <div class="mb-3">
        <label for="comment">Comments</label>
        <textarea class="form-control" id="comment" rows="3"></textarea>
    </div>
    <hr />
    <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSubmit()">Submit</button>
    <alert type="success" [dismissible]="true">{{successMsg}}</alert>
    <alert type="danger" [dismissible]="true">{{errorMsg}}</alert>
</div>